# Backend API URL (gunakan URL backend persistent, bukan serverless)
# Contoh production: https://temp-mail-backend-vnk4.onrender.com
VITE_BACKEND_URL=https://temp-mail-backend-vnk4.onrender.com

# Domain email Anda
VITE_EMAIL_DOMAIN=fadhlimail.biz.id
